
<ul class="nav">
    <li class="nav-item" >
      <a class="nav-link active" href="#" routerLink="/admin/emailLists/add">
          <i class="fas fa-plus"></i>
          Add
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
          <i class="fas fa-print"></i>
          Print View
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
          <i class="fas fa-sync"></i>
          Refresh
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
          <i class="fas fa-question-circle"></i>
          Help

        </a>
    </li>
</ul>